# Byte-compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
# Assuming 'archives/grader/' is your virtual environment
archives/grader/
venv/
env/
ENV/
.venv/
.env/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs and editors
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Miscellaneous
*.swp
*.swo
*.bak
*.tmp
